<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	  
  	<link rel="stylesheet" href="style.css">
	  

    <title>Waleed Hashmi</title>
  </head>
  <body>

	 

			  <nav class="navbar navbar-fixtop navbar-expand-md fixed-top navbar-dark nav-black">
<!--              <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">-->
  <a class="navbar-brand logo-text" href="#">Waleed Hashmi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#portfolio-section">Works</a>
	  </li>
	  <li class="nav-item">
        <a class="nav-link" href="#yellow-section">Resume</a>
	  </li>
		
	  
	  </ul>
	  
	  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="btn btn-outline-primary btn-sm hireme" href="#" >Hire me</a>
      </li>
		  </ul>
		
  </div>
</nav>  
<section>  
	<div id = 'main'>
  <div class="main-content">
    <h1>Hi! I'm Waleed Hashmi. <br> I code. </h1>
 </div>
	</div>
</section>

	<section id='yellow-section'>
		<div class='container-fluid'>
			<div class = 'container-1'>
				<h1>Hello</h1>
			</div>
			<div class = 'row'>
				<div class = 'col-12 col-lg-4' >
					<center>
						<img src="images/dp-1.png" id='dp' height='200px'>
						<br>
						<button class = 'btn btn-outline-dark'>Download CV</button>

						<button class = 'btn btn-outline-dark'>Get in Touch</button>
						
					</center>
				</div>
				<div class = 'col-12 col-lg-8' >
					<p class = 'p1'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p class = 'p1'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>		
		</div>
	  </section>  
	  
	  <section id = 'portfolio-section'>
		  <div class = 'container-fluid'>
			  <div class = 'container-1'>
			  <h1>Works</h1>
			  </div>
			  <div class = 'row'>
                  <div class = 'col-12 col-lg-4 my-5'>
                      <h4 class = 'subheading mb-4'>Recent Works</h4>
                      <div class="accordion" >
                          <div class="card">
                            <div class="card-header" id="project1">
                              <h5 class="mb-0">
                                <div class = 'row'>                                  
                                    <div class ='col-8'>
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseProject1" aria-expanded="false" aria-controls="collapseProject1" style="padding-left: 0;">
                                        Project Title 1                              
                                        </button>
                                    </div>
                                    <div class ='col-4' style='text-align: right;'>
                                            <button class ="btn-sm">HTML</button>
                                            <button class ="btn-sm">CSS</button> 
                                    </div>
                                </div>
                              </h5>
                            </div>
                            <div id="collapseProject1" class="collapse" aria-labelledby="project1" data-parent="#accordionExample">
                              <div class="card-body">
                                  <div class = 'row'>
                                      <div class = 'col-4 col-lg-12'>
                                          <h6>Tags</h6>
                                          <button class = 'btn btn-sm btn-outline-primary'>HTML</button>
                                          <button class = 'btn btn-sm btn-outline-primary'>CSS</button>		
                                          <button class = 'btn btn-sm btn-outline-primary'>JavaScript</button>
                                          <button class = 'btn btn-sm btn-outline-primary'>react.js</button>
                                          <button class = 'btn btn-sm btn-outline-primary'>node.js</button>
                                      </div>
                                      <div class = 'col-8 col-lg-12'>
                                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                      </div>
                                      <div class = 'col-12 py-4'>
                                          <center>
                                          <a href = '#' class='card-hyperlink'>View Project</a>
                                          </center>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                       <div class="card">
                            <div class="card-header" id="project2">
                              <h5 class="mb-0">
                                <div class = 'row'>                                  
                                    <div class ='col-8'>
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseProject2" aria-expanded="false" aria-controls="collapseProject2" style="padding-left: 0;">
                                        Project Title 2                             
                                        </button>
                                    </div>
                                    <div class ='col-4' style='text-align: right;'>
                                            <button class ="btn-sm">HTML</button>
                                            <button class ="btn-sm">CSS</button> 
                                    </div>
                                </div>
                              </h5>
                            </div>
                            <div id="collapseProject2" class="collapse" aria-labelledby="project2" data-parent="#accordionExample">
                              <div class="card-body">
                                  <div class = 'col-4'>
                                  </div>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                       <div class="card">
                            <div class="card-header" id="project3">
                              <h5 class="mb-0">
                                <div class = 'row'>                                  
                                    <div class ='col-8'>
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseProject3" aria-expanded="false" aria-controls="collapseProject3" style="padding-left: 0;">
                                        Project Title 3                              
                                        </button>
                                    </div>
                                    <div class ='col-4' style='text-align: right;'>
                                            <button class ="btn-sm">HTML</button>
                                            <button class ="btn-sm">CSS</button> 
                                    </div>
                                </div>
                              </h5>
                            </div>
                            <div id="collapseProject3" class="collapse" aria-labelledby="project" data-parent="#accordionExample">
                              <div class="card-body">
                                  <div class = 'col-4'>
                                  </div>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                       <div class="card">
                            <div class="card-header" id="project4">
                              <h5 class="mb-0">
                                <div class = 'row'>                                  
                                    <div class ='col-8'>
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseProject4" aria-expanded="false" aria-controls="collapseProject4" style="padding-left: 0;">
                                        Project Title 4                             
                                        </button>
                                    </div>
                                    <div class ='col-4' style='text-align: right;'>
                                            <button class ="btn-sm">HTML</button>
                                            <button class ="btn-sm">CSS</button> 
                                    </div>
                                </div>
                              </h5>
                            </div>
                            <div id="collapseProject1" class="collapse" aria-labelledby="project1" data-parent="#accordionExample">
                              <div class="card-body">
                                  <div class = 'col-4'>
                                  </div>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                       <div class="card">
                            <div class="card-header" id="project5">
                              <h5 class="mb-0">
                                <div class = 'row'>                                  
                                    <div class ='col-8'>
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseProject5" aria-expanded="false" aria-controls="collapseProject5" style="padding-left: 0;">
                                        Project Title 5                              
                                        </button>
                                    </div>
                                    <div class ='col-4' style='text-align: right;'>
                                            <button class ="btn-sm">HTML</button>
                                            <button class ="btn-sm">CSS</button> 
                                    </div>
                                </div>
                              </h5>
                            </div>
                            <div id="collapseProject5" class="collapse" aria-labelledby="project1" data-parent="#accordionExample">
                              <div class="card-body">
                                  <div class = 'col-4'>
                                  </div>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                        </div>   
                  </div>
                  <div class = 'col-12 col-lg-8 my-5' >
                      <h4 class = 'subheading mb-4'>Browse by Category</h4>
                      <div class = 'row'>
                          <div class = 'work-card col-6 col-lg-4'>
                              <i class="work-icon fas fa-file-archive"></i>
                              <h3 class ="work-card-title">All Categories</h3>
                              <a href = '#'>See Projects</a>	  
                          </div>
                           <div class = 'work-card col-6 col-lg-4'>
                              <i class="work-icon fas fa-code"></i>
                              <h3 class ="work-card-title">Web Development</h3>
                              <a href = '#'>See Projects</a>	  
                          </div>
                          <div class = 'work-card col-6 col-lg-4'>
                              <i class="work-icon fas fa-draw-polygon"></i>
                              <h3 class ="work-card-title">Graphic desiging</h3>
                              <a href = '#'>See Projects</a>	  
                          </div>
                          <div class = 'work-card col-6 col-lg-4'>
                              <i class="work-icon fas fa-gamepad"></i>
                              <h3 class ="work-card-title">Games</h3>
                              <a href = '#'>See Projects</a>	  
                          </div>
                          <div class = 'work-card col-6 col-lg-4'>
                              <i class="work-icon fab fa-connectdevelop"></i>
                              <h3 class ="work-card-title">Machine learning</h3>
                              <a href = '#'>See Projects</a>	  
                          </div>			 
                          <div class = 'work-card col-6 col-lg-4'>
                              <i class="work-icon fas fa-random"></i>
                              <h3 class ="work-card-title">Random Project</h3>
                              <a href = '#'>Surprise me</a>	  
                          </div>
                      </div>
                  </div>
			  </div>
		  </div>  
	  </section>
	  
	  <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">© 2018 Waleed Hashmi</small>
		  </div>
      </div>
    </footer>
	  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>